:root {
  --container-width: 1240px;
  --container-padding: 5px;

  --mainFont: "Onest", sans-serif;
  --secondFont: "Inter", sans-serif;

  --font-main: "Onest", sans-serif;
  --font-accent: "Playfair Display", serif;

  --whiteColor: #ffffff;
  --page-bg: #ffffff;
  --text-color: #000;
  --accent: #29abe2;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
