.whereUse-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.whereUse__inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
}
.whereUse-item {
  text-align: center;
  max-width: 295px;
  /*  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
  }
  h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }
}
.whereUse-button {
  /* align-self: flex-end; */
  margin-top: auto;
  padding: 16px;
}
.button {
}
