.title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 85px;
  &::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 5px;
    bottom: -15px;
    left: 0;
    background-color: var(--accent);
  }
  @include mobile-s {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.whyWe__inner {
  display: flex;
  margin-bottom: 64px;
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
  }
}
.whyWe__item {
  width: 33.3%;
  @include tablet {
    text-align: center;
    width: 100%;
    &:nth-child(2) {
      order: -1;
      margin-bottom: 20px;
    }
  }
}
.list-item__wrap {
  display: flex;
  gap: 16px;
  @include tablet {
    justify-content: center;
  }
}
.list-item-elem__number {
  background-image: url(../img/list-ellips.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-weight: 700;
  font-size: 28px;
}
.list-item-elem__text {
  margin-bottom: 78px;
}
.text-right {
  text-align: right;
}
.list-item-elem__text {
  max-width: 315px;
  h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
}
.whyWe-footer {
  padding: 26px 44px;
  border: 2px solid var(--accent);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
  @include tablet {
    flex-wrap: wrap;
  }
}
.whyWe-footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.whyweFooter-text {
  font-weight: 500;
  font-size: 16px;
}
